/* classname */
/* outer  */
/* cssanimation sequence fadeInBottom */
.cssanimation,
.cssanimation span {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.cssanimation span {
  display: inline-block;
}

.fadeInBottom {
  animation-name: fadeInBottom;
}
@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}

/* .outer {
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
} */
